
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Django学习笔记</title>
  <link rel="stylesheet" href="/static/plugins/bootstrap-4.5.0-dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
</head>
<body>
  {% include "nav.html" %}
  <div class="container-fluid">
    <div class="row">
      {% include "sidebarMenu.html" %}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        {% include "option.html" %}
        <div class="content">
          {% include "template.html" %}
          {% include "search.html" %}
        </div>
      </main>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  <script src="/static/plugins/jquery-3.5.1/jquery.js"></script>
  <script src="/static/plugins/bootstrap-4.5.0-dist/js/bootstrap.js"></script>
  <script src="/static/js/dashboard.js"></script>
</body>
</html>